* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.spellCard {
    display: inline-block;
    width: 600px;
    border:1px solid black;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.spellCards {
    padding:20px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.spellCards > * {
    margin-right: 12px;
    margin-bottom: 12px;
}

.name,
.description {
    margin-bottom: 16px;
}

.spellAttribute {
    margin-bottom: 4px;
}

.spellAttributeLabel {
    font-weight: bold;
}