* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px
}

.card {
    display: inline-block;
    width: 600px;
    border: 1px solid black;
    padding: 12px;
    position: relative;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.cardList>* {
    margin-right: 12px;
    margin-bottom: 12px;
}

.name,
.description {
    margin-bottom: 16px;
}

.spellAttribute {
    margin-bottom: 4px;
}

.spellAttributeLabel {
    font-weight: bold;
}

.spellIcon {
    position: absolute;
    top: 5px;
    right: 5px;
}

.margin-right {
    margin-right: 16px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.abilities {
    display: inline-flex;
    flex-direction: column;
}

.savingThrows {
    display: inline-block;
    border: 1px solid black;
    padding: 16px;
}

.savingThrowModifier {
    font-weight: bold;
}

.ability {
    border: 1px solid black;
    display: inline-block;
    padding: 16px;
    text-align: center;
}

.abilityName {
    text-transform: capitalize;
}

.savingThrowModifierName {
    text-transform: capitalize;
    display: inline-block;
    width: 100px;
}

.abilityModifier {
    font-weight: bold;
}

.hitPointsAndTempHitPoints {
    margin-bottom: 16px;
    display: flex;
}

.hitPointsAndTempHitPoints>* {
    margin-right: 12px;
}

.hitPoints {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 8px;
}

.tempHitPoints {
    font-weight: bold;
}

.abilitiesAndSavingThrows {
    display: flex;
    align-items: flex-start;
}

.abilitiesAndSavingThrows>* {
    margin-right: 12px;
}

.flex {
    display: flex;
}

.skills {
    border: 1px solid black;
    padding: 12px;
}

.skillName {
    text-transform: capitalize;
    display: inline-block;
    width: 115px;
}

.skillModifier {
    display: inline-block;
    width: 20px;
    text-align: right;
    font-weight: bold;
}