* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px
}

.row {
    display: flex;
    gap: 16px;
}

.card {
    display: inline-block;
    width: 600px;
    border: 1px solid black;
    padding: 12px;
    position: relative;
    min-height: 160px;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 12px;
}

.name,
.description {
    margin-bottom: 16px;
}

.spellAttribute {
    margin-bottom: 4px;
}

.spellAttributeLabel {
    font-weight: bold;
}

.spellIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 150px;
    height: 150px;
}

.margin-right {
    margin-right: 16px;
}

.margin-bottom {
    margin-bottom: 16px;
}

.abilities {
    display: inline-flex;
    flex-direction: column;
}

.savingThrows {
    display: inline-block;
    border: 1px solid black;
    padding: 12px;
}

.savingThrowModifier {
    font-weight: bold;
}

.ability {
    border: 1px solid black;
    display: inline-block;
    padding: 16px;
    text-align: center;
}

.abilityName {
    text-transform: capitalize;
}

.savingThrowModifierName {
    text-transform: capitalize;
    display: inline-block;
    width: 100px;
}

.abilityModifier {
    font-weight: bold;
}

.hitPointsAndTempHitPoints {
    margin-bottom: 16px;
    display: flex;
}

.hitPointsAndTempHitPoints>* {
    margin-right: 12px;
}

.hitPoints, .hitDie {
    border: 1px solid black;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 8px;
}

.tempHitPoints {
    font-weight: bold;
}

.abilitiesAndSavingThrows {
    display: flex;
    align-items: flex-start;
}

.abilitiesAndSavingThrows>* {
    margin-right: 12px;
}

.flex {
    display: flex;
}

.skills {
    border: 1px solid black;
    padding: 12px;
}

.skillName {
    text-transform: capitalize;
    display: inline-block;
    width: 120px;
}

.skillModifier {
    display: inline-block;
    width: 20px;
    text-align: right;
    font-weight: bold;
}

.spellSlots {
    border: 1px solid black;;
    padding: 8px;
    width: 550px;
}

.spellSlot {
    border: 1px solid black;
    width: 250px;
    display: flex;
    align-items: center;
}
.spellSlotLevel {
    border-right: 1px solid black;
    padding: 8px;
}

.spellSlotTotal {
    border-right: 1px solid black;
    padding: 8px;
}

.spellSlotsUsedTally {
    width: 50px;
}

.spellSlotsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.classAbilityCard {
    padding-right: 155px;
}